<h1 class="text-center">Login</h1>
<div class="container">
  <div class="row">
    <form
      [formGroup]="login"
      class="border border my-1 col-md-12"
      (ngSubmit)="userlogin()"
    >
      <div class="row my-4">
        <div class="col-md-6">
          <label for="" class="col-md-6 text-center"
            >Username<span class="text-danger error" *ngIf="Username?.invalid"
              >*</span
            ></label
          >
          <input
            type="text"
            name="Username"
            id="Username"
            class="col-md-6"
            formControlName="Username"
            placeholder="Your Username"
          />
        </div>
      </div>
      <div class="row">
        <span
          style="padding-left: 15%"
          class="error text-danger col-md-5 text-center"
          *ngIf="Username?.invalid && Username && Username.touched"
          >Username Is Required</span
        >
      </div>

      <div class="row my-4">
        <div class="col-md-6">
          <label for="" class="col-md-6 text-center"
            >Password<span class="text-danger error" *ngIf="password?.invalid"
              >*</span
            ></label
          >
          <input
            class="col-md-6"
            type="password"
            name="password"
            id="password"
            formControlName="password"
            placeholder="Your Password"
          />
        </div>
      </div>
      <div class="row">
        <span
          style="padding-left: 15%"
          class="error text-danger col-md-5 text-center"
          *ngIf="password?.invalid && password && password.touched"
          >Password Is Required</span
        >
      </div>
      <div class="row">
        <button class="col-md-2 my-5 login-btn" [disabled]="login.invalid">
          Login
        </button>
      </div>
      <div class="row text-center">
        <div class="col-md-6">
          Don't have an account?<a routerLink="/Singup">Signup</a>
        </div>
      </div>
    </form>
  </div>
</div>
