<div class="container">
  <h3>Users List</h3>
  <label for="searchfilter">Search</label>
  <input type="text" [(ngModel)]="serarchValue" />
  <table class="table table-striped border">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Username</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let USer of user
            | usersearchfilter : serarchValue
            | paginate : { itemsPerPage: 5, currentPage: currentPage };
          let i = index
        "
      >
        <td>{{ i + 1 }}</td>
        <td>{{ USer.UserName }}</td>
        <td>{{ USer.Role }}</td>
        <td>
          <button class="btn btn-primary" (click)="Edit(USer.Id)">Edit</button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="confirmdelete(USer.Id)">
            delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls
    (pageChange)="currentPage = $event"
  ></pagination-controls>
</div>
