<h1 class="text-center">Singup for Website</h1>
<div class="container">
  <div class="row">
    <form
      [formGroup]="signup"
      class="border border my-1 col-md-12"
      (ngSubmit)="usersignup()"
    >
      <div class="row my-4">
        <div class="col-md-6">
          <label for="" class="col-md-6 text-center">Username</label>
          <input
            type="text"
            name="Username"
            id="Username"
            class="col-md-6"
            formControlName="Username"
            placeholder="Your Username"
          />
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-6">
          <label for="" class="col-md-6 text-center">Password</label>
          <input
            class="col-md-6"
            type="password"
            name="password"
            id="password"
            formControlName="password"
            placeholder="Your Password"
          />
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-6">
          <label for="" class="col-md-6 text-center">confirm password</label>
          <input
            class="col-md-6"
            type="password"
            name="confirm"
            id="confirm"
            formControlName="confirm"
            placeholder="Confirm Your Password"
          />
        </div>
      </div>
      <div class="row">
        <button class="col-md-2 bg-success my-5">submit</button>
      </div>
    </form>
  </div>
</div>
