<div class="container" *ngIf="items.length > 0">
  <h3>Checkout</h3>
  <table class="table table-striped border">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.Name }}</td>
        <td>{{ item.Price | currency : "INR" }}</td>
        <td>{{ item.Quantity }}</td>
        <td>{{ item.Price * item.Quantity | currency : "INR" }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteItem(item)">
            Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">Total: {{ totalsum | currency : "INR" }}</p>

  <button class="but" [disabled]="totalsum <= 0" routerLink="/bill">
    Pay {{ totalsum | currency : "INR" }}
  </button>
</div>
<div class="container" *ngIf="items.length == 0">
  <div class="row center justify-content-center">
    <img
      src="./assets/image_2023_09_07T10_00_45_285Z.png"
      alt=""
      style="width: 50%"
    />
  </div>
  <div class="row justify-content-center">
    <a routerLink="/Home" style="width: 20%">
      <img src="./assets/shopnow.jpg" alt=""
    /></a>
  </div>
</div>
