<div class="container">
  <h3 class="text-center mt-4">Grocery Items</h3>
  <label for="searchfilter">Search</label>
  <input type="text" [(ngModel)]="serarchValue" />
  <div class="row items">
    <div
      *ngFor="
        let item of items
          | searchfilter : serarchValue
          | paginate : { itemsPerPage: 5, currentPage: currentPage }
      "
      class="col-md-4 mb-4 d-flex align-items-stretch"
    >
      <div class="card item-card">
        <a
          routerLink="/Home/{{ item.id }}"
          style="text-decoration: none; color: black"
        >
          <img [src]="item.imageUrl[0]" class="card-img-top" alt="image" />
          <div class="card-body">
            <h5 class="item-name">{{ item.name }}</h5>
            <p class="item-price">${{ item.price }}</p>
          </div>
        </a>
        <button class="btn btn-primary add-button" (click)="addtocart(item)">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
  <pagination-controls
    (pageChange)="currentPage = $event"
  ></pagination-controls>
</div>
