<div class="container">
  <h3>Order Details</h3>
  <div class="row">
    <div class="col-md-6">
      <p><b>Name:</b>{{ orders[0].Orders.BillingDetails.Name }}</p>
      <p><b>Gender:</b>{{ orders[0].Orders.BillingDetails.Gender }}</p>
      <p>
        <b>Phone Number:</b>{{ orders[0].Orders.BillingDetails.PhoneNumber }}
      </p>
      <p><b>Email:</b>{{ orders[0].Orders.BillingDetails.Email }}</p>
      <p><b>Transaction ID:</b>{{ orders[0].Orders.TransactionId }}</p>
      <p>
        <b> Ordered On:</b
        >{{ orders[0].Orders.CreatedOn | date : "dd-MM-YYYY EEEE" }}
      </p>
    </div>
    <div class="col-md-6">
      <p><b>Country:</b>{{ orders[0].Orders.BillingDetails.Country }}</p>
      <p><b>State:</b>{{ orders[0].Orders.BillingDetails.State }}</p>
      <p><b>City:</b>{{ orders[0].Orders.BillingDetails.City }}</p>
      <p>
        <b>StreetAddress:</b>{{ orders[0].Orders.BillingDetails.StreetAddress }}
      </p>
      <p><b>Zipcode:</b>{{ orders[0].Orders.BillingDetails.ZipCode }}</p>

      <p>
        <b> Total Amount paid:</b
        >{{
          orders[0].Orders.Total
            | currency : orders[0].Orders.Currency.toUpperCase()
        }}
      </p>
    </div>
  </div>

  <label for="searchfilter">Search</label>
  <input type="text" [(ngModel)]="serarchValue" />
  <table class="table table-striped border">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <!-- <th>Edit</th>
          <th>Delete</th> -->
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let items of orders
            | paginate : { itemsPerPage: 5, currentPage: currentPage };
          let i = index
        "
      >
        <td>{{ i + 1 }}</td>
        <td>{{ items.Food.Name }}</td>
        <td>{{ items.Price | currency : "INR" }}</td>
        <td>{{ items.Quantity }}</td>
        <td>{{ items.Price * items.Quantity | currency : "INR" }}</td>
        <!-- <td>
            <button class="btn btn-primary" (click)="Edit(item.id)">Edit</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="confirmdelete(item.id)">
              delete
            </button>
        </td> -->
      </tr>
    </tbody>
  </table>
  <pagination-controls
    (pageChange)="currentPage = $event"
  ></pagination-controls>
  <p class="text-right">
    Total:
    {{
      orders[0].Orders.Total
        | currency : orders[0].Orders.Currency.toUpperCase()
    }}
  </p>
</div>
<button onclick="window.print()">print</button>
